@using System.IO;
@{
	string version = Request.QueryString["version"];
	string glyph = Request.QueryString["glyph"];

	if (string.IsNullOrEmpty(version))
	{
		Response.Redirect("/2013", true);
	}

	if (!Request.IsLocal)
	{
		Response.Cache.SetValidUntilExpires(true);
		Response.Cache.SetExpires(DateTime.Now.AddYears(1));
		Response.Cache.SetCacheability(HttpCacheability.Public);
		Response.Cache.VaryByParams["version"] = true;
		Response.Cache.VaryByParams["glyph"] = true;
	}
}

<!DOCTYPE html>
<html>
<head>
	<title>Visual Studio @version Glyph List</title>
	<style>
		body {
			font: 11pt/1.2 arial;
			margin: 0;
			padding: 0;
		}

		header {
			text-align: center;
			font-size: 1.5em;
		}

		h1 {
			font-size: 2em;
		}

		h2 {
			font-size: 1em;
		}

		a {
			color: cornflowerblue;
			text-decoration: none;
		}

		a:hover{
			text-decoration: underline;
		}

		nav {
			text-align: center;
			font-size: 1.3em;
			margin-bottom: 1em;
		}

			nav ul {
				list-style: none;
				padding: 0;
				display: inline;
			}

			nav li {
				display: inline-block;
				padding: .5em;
			}

		[role="main"] {
			-moz-column-width: 220px;
			-webkit-column-width: 220px;
			column-width: 220px;
			margin: 1em;
		}

			[role="main"] div {
				display: inline-block;
				width: 100%;
				margin: 0 auto;
			}

			[role="main"] img {
				width: 16px;
				height: 16px;
			}

			[role="main"] ul {
				list-style: none;
				margin: 0;
				padding-left: 10px;
			}

				[role="main"] ul span {
					color: gray;
				}

					[role="main"] ul span:hover {
						color: black;
					}

		footer {
			width: 100%;
			background: #333;
			color: #fff;
			padding: 1em 0;
			text-align: center;
			clear: both;
			margin-top: 4em;
		}

			footer a {
				color: #fff;
				text-decoration: none;
			}
	</style>
</head>
<body>

	<header>
		<h1>Visual Studio @version Glyph List</h1>
		<p>
			This website shows the images contained in Visual Studio's <strong>StandardGlyphGroup</strong>.
		</p>
	</header>

	<nav>
		<strong>Visual Studio: </strong>
		<ul>
			<li><a href="/2013">2013</a></li>
			<li><a href="/2015">2015</a></li>
		</ul>
	</nav>

	<div role="main">
		@{
			var folder = Directory.EnumerateDirectories(Server.MapPath("~/img/" + version));

			foreach (string dir in folder)
			{
				DirectoryInfo info = new DirectoryInfo(dir);

				if (!string.IsNullOrEmpty(glyph) && !info.Name.Equals(glyph.Trim('/'), StringComparison.OrdinalIgnoreCase))
				{
					continue;
				}

				<div>
					<h2><a href="/@version/@info.Name">@info.Name</a></h2>
					<ul>
						@foreach (FileInfo file in info.EnumerateFiles())
						{
							<li>
								<img src="/img/@version/@info.Name/@file.Name" />
								@Path.GetFileNameWithoutExtension(file.Name)
							</li>
						}
					</ul>
				</div>
			}
		}
	</div>

	<footer>
		<p>Copyright &copy; 2015 <a href="http://madskristensen.net">Mads Kristensen</a></p>
		<p>Open source on <a href="https://github.com/madskristensen/GlyphList/">GitHub</a></p>
	</footer>

</body>

</html>