<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
    </system.web>

    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
        </staticContent>

        <rewrite>
            <rules>
                <rule name="default" stopProcessing="true">
                    <match url="^([\s]+)?$"/>
                    <action type="Redirect" url="/standardglyphgroup/"/>
                </rule>

                <rule name="old redirects" stopProcessing="true">
                    <match url="^(2013|2015|glyphs|images)"/>
                    <action type="Redirect" url="/standardglyphgroup/"/>
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>